<h1>コメント管理画面</h1>
<%= link_to "ユーザー管理画面はこちら", admin_users_path %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ユーザーネーム</th>
        <th>Email</th>
        <th>コメント内容</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.user.name %></td>
          <td><%= comment.user.email %></td>
          <td><%= comment.content %></td>
          <td>
            <%= link_to "削除", admin_comment_path(comment), method: :delete, data: { confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
