<div class="card shadow-sm">
  <div class="card-body">
    <%= form_with(model: recipe, local: true) do |f| %>
      <div class="mb-3">
        <%= f.label :image, "料理の写真", class: 'form-label' %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>

      <div class="mb-3">
        <%= f.label :title, "レシピ名", class: 'form-label' %><span class="text-danger">*</span>
        <%= f.text_field :title, class: "form-control #{'is-invalid' if recipe.errors[:title].any?}", placeholder: "レシピ名" %>
        <%= error_message_for(:title, recipe) %>
      </div>

      <div class="mb-3">
        <%= f.label :description, "レシピの作り方", class: 'form-label' %><span class="text-danger">*</span>
        <%= f.text_area :description, class: "form-control #{'is-invalid' if recipe.errors[:description].any?}", placeholder: "レシピの簡単な作り方" %>
        <%= error_message_for(:description, recipe) %>
      </div>

      <% unless controller.action_name == 'edit' %>
      <h4><u>必要な材料(1人分、調味料は書かなくてもOK)</u></h4>

      <div class="mb-3" id="ingredients">
        <%= f.fields_for :ingredients do |ingredient| %>
              <%= render 'ingredient_fields', f: ingredient %>
        <% end %>
        <div class="links">
          <%= link_to_add_association '材料の追加', f, :ingredients, class: 'btn btn-secondary btn-sm' %>
        </div>
      </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :tag_ids, "該当するタグがあったら選択してください", class: 'form-label' %><br>
        <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
      </div>

      <div class="actions text-center mt-4">
        <%= f.submit "投稿", class: "btn btn-secondary btn" %>
      </div>
    <% end %>
  </div>
</div>
