<div class="row">
  <% recipes.each do |recipe| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%#= link_to recipe do %>
          <%#= image_tag recipe.get_image.variant( resize: "300x200^", gravity: "center", crop: "300x200+0+0" ).processed, class: 'card-img-top' %>
          <%#= image_tag(recipe.get_image&.variant(resize: "300x200^", gravity: "center", crop: "300x200+0+0").processed, class: 'card-img-top') || image_path("default_image.jpg") %>
        <%# end %>
        <%= link_to recipe do %>
          <% if recipe.get_image.present? %>
            <%= image_tag recipe.get_image.variant( resize: "300x200^", gravity: "center", crop: "300x200+0+0" ).processed, class: 'card-img-top' %>
          <% else %>
            <%= image_tag "no_image.jpg", class: 'card-img-top' %>
          <% end %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title text-center">
            <%= link_to recipe.title, recipe, class: 'text-decoration-none' %>
          </h5>
          <p class="card-text text-center"><%= recipe.description.truncate(100) %></p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">カロリー: <%= recipe.calorie %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
