<div class="row">
  <% recipes.each do |recipe| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%= link_to recipe do %>
          <% if recipe.get_image.present? %>
            <%= image_tag recipe.get_image.variant( resize: "300x300^", gravity: "center", crop: "300x300+0+0" ).processed, class: 'card-img-top' %>
          <% else %>
            <%= image_tag "no_image.jpg", class: 'card-img-top' %>
          <% end %>
        <% end %>

        <div class="card-body">
          <h5 class="card-title text-center">
            <%= link_to recipe.title, recipe, class: 'text-decoration-none' %>
          </h5>
          <p class="card-text text-center"><%= simple_format(recipe.description.truncate(50)) %></p>
        </div>

        <div class="card-footer">
          <%= image_tag recipe.user.get_image.variant(resize: "30x30^", gravity: "center", crop: "30x30+0+0").processed, class: 'rounded-circle' %>
          <small class="text-muted text-center"><%= recipe.user.name %></small>
          <small class="text-muted text-right d-block"><%= recipe.created_at.strftime("%Y/%m/%d %H:%M") %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
