<div class="card shadow-sm p-3 mb-5 bg-white">
  <div class="row no-gutters">
    <div class="col-md-4">
      <% if @recipe.get_image.present? %>
        <%= image_tag @recipe.get_image.variant(resize: "300x300^", gravity: "center", crop: "300x300+0+0" ).processed, class: "card-img" %>
      <% else %>
        <%= image_tag "no_image.jpg", size: "300x300", class: "card-img shadow" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-success"><%= @recipe.title %></h5>
        <h5 class="card-title">by&nbsp;<%= @recipe.user.name %></h5>
        <p class="card-text"><%= @recipe.description %></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">カロリー: <%= @recipe.calorie %>kcal</li>
          <li class="list-group-item">材料:
            <ul class="list-group list-group-flush">
              <% @recipe.ingredients.each do |ingredient| %>
                <li class="list-group-item">
                  <%= ingredient.name %> : <%= ingredient.quantity %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="list-group-item">タグ:
            <% @recipe.tags.each do |tag| %>
              <%= link_to tag_recipes_path(tag_id: tag.id), class: "btn btn-sm bg-secondary text-white" do %>
                <%= tag.name %>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <% if current_user && (comment.user_id == current_user.id) %>
      <%= link_to '編集する', edit_recipe_path(@recipe), class: "btn btn-primary" %> |
    <% end %>
    <%= link_to '一覧に戻る', recipes_path, class: "btn btn-secondary" %><br>

    <% if current_user && current_user.bookmarking?(@recipe) %>
      <%= link_to 'ブックマーク解除する', recipe_bookmark_path(@recipe), method: :delete, class: "btn btn-danger" %>
    <% elsif current_user %>
      <%= link_to 'ブックマークする', recipe_bookmark_path(@recipe), method: :post, class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<% @recipe.comments.each do |comment| %>
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <p class="card-text"><%= comment.content %></p>
      <div id="comment_raty_<%= comment.id %>" data-score="<%= comment.score %>"></div>
      <small class="text-muted"><%= comment.user.name %></small>
    </div>
    <% if current_user && (comment.user_id == current_user.id) %>
      <%= link_to '削除', recipe_comment_path(@recipe, comment), method: :delete, data: { confirm: 'コメントを削除しますか？' }, class: "btn btn-danger" %>
    <% end %>
  </div>
<% end %>

<%= render "public/comments/form", recipe: @recipe %>

<script>
  $(document).on('turbolinks:load', function () {
    <% @recipe.comments.each do |comment| %>
      <% next unless comment.id %>
      let commentElem<%= comment.id %> = document.querySelector('#comment_raty_<%= comment.id %>');
      
      commentElem<%= comment.id %>.innerHTML = "";
      
      let opt<%= comment.id %> = {
        size     : 38,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        score: <%= comment.score.nil? ? 0 : comment.score %>,  // score from each comment
        half: true,
        readOnly: true
      };
      raty(commentElem<%= comment.id %>, opt<%= comment.id %>);
    <% end %>
  });
</script>
