<div class="card shadow-sm p-3 mb-5 bg-white">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="bookmark-container">
        <% if @recipe.get_image.present? %>
          <%= image_tag @recipe.get_image.variant(resize: "300x300^", gravity: "center", crop: "300x300+0+0" ).processed, class: "card-img" %>
        <% else %>
          <%= image_tag "no_image.jpg", size: "300x300", class: "card-img shadow" %>
        <% end %>

        <div id="bookmark">
          <%= render 'public/bookmarks/bookmark', recipe: @recipe %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-success"><%= @recipe.title %></h5>
        <h5 class="card-title">
          <%= image_tag @recipe.user.get_image.variant(resize: "30x30^", gravity: "center", crop: "30x30+0+0").processed, class: 'rounded-circle' %>
          <%= @recipe.user.name %>
        </h5>
        <p class="card-text"><%= simple_format(@recipe.description) %></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">材料:
            <ul class="list-group list-group-flush">
              <% @recipe.ingredients.each do |ingredient| %>
                <li class="list-group-item">
                  <%= ingredient.name %> : <%= ingredient.quantity %>
                </li>
              <% end %>
            </ul>
          </li>
          <% if @recipe.tags.any? %>
            <li class="list-group-item">タグ:
              <% @recipe.tags.each do |tag| %>
                <%= link_to tag_recipes_path(tag_id: tag.id), class: "btn btn-sm bg-secondary text-white" do %>
                  <%= tag.name %>
                <% end %>
              <% end %>
            </li>
          <% else %>
            <li class="list-group-item">タグがありません</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <% if current_user && (@recipe.user_id == current_user.id) %>
      <%= link_to '編集する', edit_recipe_path(@recipe), class: "btn btn-primary" %> |
    <% end %>
    <%= link_to '一覧に戻る', recipes_path, class: "btn btn-secondary" %><br>
  </div>
</div>
<div id="comment">
  <% @recipe.comments.each do |comment| %>
    <% if comment.persisted? %>
      <%= render "public/comments/comment", comment: comment %>
    <% end %>
  <% end %>
</div>

<% if current_user %>
  <%= render "public/comments/form", recipe: @recipe %>
<% else %>
  <div class="alert alert-warning text-center">
    <p>コメントするにはログインが必要です</p>
  </div>
<% end %>

<script>
$(document).on('turbolinks:load', function () {
  <% @recipe.comments.each do |comment| %>
    <% next unless comment.id %>
    let commentElem<%= comment.id %> = document.querySelector('#comment_raty_<%= comment.id %>');

    if (commentElem<%= comment.id %>) {
      commentElem<%= comment.id %>.innerHTML = "";

      let opt<%= comment.id %> = {
        size     : 38,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        score: <%= comment.score.nil? ? 0 : comment.score %>,
        readOnly: true
      };
      raty(commentElem<%= comment.id %>, opt<%= comment.id %>);
    }
  <% end %>
});
</script>
