<p>
  <strong>レシピ名</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>レシピの説明</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>カロリー</strong>
  <%= @recipe.calorie %>kcal
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %><br>

<% if current_user.bookmarking?(@recipe) %>
  <%= link_to 'ブックマーク解除する', recipe_bookmark_path(@recipe), method: :delete %>
<% else %>
  <%= link_to 'ブックマークする', recipe_bookmark_path(@recipe), method: :post %>
<% end %>
