<p>
  <strong>レシピ名</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>レシピの説明</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>カロリー</strong>
  <%= @recipe.calorie %>kcal
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %><br>

<% if current_user.bookmarking?(@recipe) %>
  <%= link_to 'ブックマーク解除する', recipe_bookmark_path(@recipe), method: :delete %>
<% else %>
  <%= link_to 'ブックマークする', recipe_bookmark_path(@recipe), method: :post %>
<% end %>

<% @recipe.comments.each do |comment| %>
  <p>
    <%= comment.user.name %>:
    <%= comment.content %>
    <%= comment.score %>
    <% if comment.user_id == current_user.id %>
      <%= link_to '削除', recipe_comment_path(@recipe, comment), method: :delete, data: { confirm: 'コメントを削除しますか？' } %>
    <% end %>
  </p>
<% end %>

<%= render "public/comments/form" %>