<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card mt-5">
      <div class="card-header">
        管理者ログイン
      </div>
      <div class="card-body">
        <%= form_with(model: @admin, url: admin_session_path, local: true) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          </div>

          <%= f.submit "Log in", class: 'btn btn-secondary rounded-pill' %><br>

        <% end %>
          <%= link_to "ユーザーログインはこちら", new_user_session_path, class: 'd-block my-2' %>
      </div>
    </div>
  </div>
</div>
