
<div class="card mb-4 shadow-sm">
  <div class="card-body">
    <p class="card-text"><%= comment.content %></p>
    <div id="comment_raty_<%= comment.id %>" data-score="<%= comment.score %>"></div>
    <small class="text-muted"><%= comment.user.name %></small>
  </div>
<% if current_user && (comment.user_id == current_user.id) %>
  <%= link_to '削除', recipe_comment_path(@recipe, comment), method: :delete, data: { confirm: 'コメントを削除しますか？' }, class: "btn btn-danger" %>
<% end %>

</div>