<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <div class="list-group">
          <li class="list-group-item list-group-item-dark">タグ一覧（人気順）</li>
        <% @tags.each do |tag| %>
          <%= link_to tag.name, tag_recipes_path(tag_id: tag.id), class: "list-group-item list-group-item-action" %>
        <% end %>
      </div>
    </div>


    <!-- Main Content -->
    <div class="col-md-9">
  <!-- Hero Section -->
  <section class="hero text-center p-5 mb-5" style="background: url('https://source.unsplash.com/1600x900/?food') no-repeat center center; background-size: cover;">
    <div class="hero-content text-white">
      <h1 class="display-4">猿レシピへようこそ!</h1>
      <p class="lead">猿でも簡単に作れるレシピがきっと見つかる!</p>
    </div>
  </section>

  <!-- Featured Recipes Section -->
  <section class="py-5">
    <div class="container">
      <h2 class="text-center mb-4">おすすめのレシピ</h2>
      <div class="row">
        <% @recipes.each do |recipe| %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100">
              <%= link_to recipe do %>
                <% if recipe.get_image.present? %>
                  <%= image_tag recipe.get_image, class: 'card-img-top recommended-recipe' %>
                <% else %>
                  <%= image_tag "no_image.jpg", class: 'card-img-top recommended-recipe' %>
                <% end %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= recipe.title %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>

      </section>
    </div>
  </div>
</div>
