<h1>タグ管理画面</h1>
<%= link_to "コメント管理画面はこちら", admin_comments_path %><br>
<%= link_to "ユーザー管理画面はこちら", admin_users_path %><br>
<%= link_to "タグ作成", new_admin_tag_path %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>タグ名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td>
            <%= tag.name %>
          </td>
          <td>
            <%= link_to "削除する", admin_tag_path(tag), method: :delete, data: { confirm: "本当に削除しますか？"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
