<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card mt-3">
      <div class="card-header">
        新規登録
      </div>
      <div class="card-body">
        <%= form_with(model: @user, local: true) do |f| %>
          <div class="form-group">
            <%= f.label :name, "ユーザーネーム" %><span class="text-danger">*</span>
            <%= f.text_field :name, autofocus: true, class: "form-control #{'is-invalid' if @user.errors[:name].any?}" %>
            <%= error_message_for(:name, @user) %>
          </div>

          <div class="form-group">
            <%= f.label :email %><span class="text-danger">*</span>
            <%= f.email_field :email, class: "form-control #{'is-invalid' if @user.errors[:email].any?}" %>
            <%= error_message_for(:email, @user) %>
          </div>

          <div class="form-group">
            <%= f.label :password, "パスワード" %><span class="text-danger">*</span>
            <%= f.password_field :password, class: "form-control #{'is-invalid' if @user.errors[:password].any?}" %>
            <%= error_message_for(:password, @user) %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "パスワード(確認用)" %><span class="text-danger">*</span>
            <%= f.password_field :password_confirmation, class: "form-control #{'is-invalid' if @user.errors[:password_confirmation].any?}" %>
            <%= error_message_for(:password_confirmation, @user) %>
          </div>

          <%= f.submit "登録", class: 'btn btn-secondary rounded-pill' %><br>

        <% end %>
          <%= link_to "すでに登録済み方はこちら", new_user_session_path, class: 'd-block my-2' %>
      </div>
    </div>
  </div>
</div>