<h1>ユーザー管理画面</h1>
<%= link_to "コメント管理画面はこちら", admin_comments_path %><br>
<%= link_to "タグ管理画面はこちら", admin_tags_path %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ユーザーネーム</th>
        <th>Email</th>
        <th>ユーザーステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.is_deleted ? '削除済み' : 'アクティブ' %></td>
          <td>
            <%= form_with model: [:admin, user],url: admin_user_path(user),  method: :patch do |f| %>
              <%= f.hidden_field :is_deleted, value: !user.is_deleted %>
              <%= f.submit "更新する" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
