<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card mt-5">
      <div class="card-header">
        ログイン
      </div>
      <div class="card-body">
        <%= form_with(model: @user, url: session_path(@user), local: true) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control #{'is-invalid' if @user.errors[:email].any?}" %>
            <%= error_message_for(:email, @user) %>
          </div>

          <div class="form-group">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, class: "form-control #{'is-invalid' if @user.errors[:password].any?}" %>
            <%= error_message_for(:password, @user) %>
          </div>

          <%= f.submit "Log in", class: 'btn btn-secondary rounded-pill' %><br>

        <% end %>
          <%= link_to "新規登録はこちら", new_user_registration_path, class: 'd-block my-2' %>
          <%= link_to "ゲストユーザーとしてログイン", users_guest_login_path, method: :post %>
      </div>
    </div>
  </div>
</div>
