<%= form_with(model: @user, url: users_path(@user), local: true) do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">プロフィール画像</th>
        <td><%= f.file_field :image, accept: "image/*" %></td>
      </tr>
      <tr>
        <th scope="row">名前</th>
        <td><%= f.text_field :name, class: 'form-control' %></td>
      </tr>
      <tr>
        <th scope="row">メールアドレス</th>
        <td><%= f.email_field :email, class: 'form-control' %></td>
      </tr>
    </tbody>
  </table>
  <%= f.submit "更新", class: "btn btn-primary" %>
<% end %>