<header class="pb-3">

  <nav class="navbar navbar-expand-lg navbar-light nav-custom-color">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "monkey.png", size: "50x50", class: "align-middle" %>
      <h1 style="font-family: 'Montserrat Subrayada'; display: inline;" class="align-middle">猿レシピ</h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <%= form_with(url: search_recipes_path, method: :get, local: true, html: {class: "form-inline my-2 my-lg-0"}) do |form| %>
          <%= form.text_field :word, placeholder: "レシピを検索する", class: "form-control mr-sm-2" %>
          <%= form.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "レシピ作成", new_recipe_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "レシピ一覧", recipes_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to mypage_user_path, class: 'nav-link' do %>
            <i class="fa-regular fa-user mx-1"></i>プロフィール
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
              <i class="fa-solid fa-arrow-right-from-bracket mx-1"></i>ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
              <i class="fa-solid fa-user mx-1"></i>新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_guest_login_path, method: :post, class: 'nav-link' do %>
              <i class="fa-solid fa-person-circle-question mx-1"></i>ゲストログイン
            <% end %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <i class="fa-solid fa-arrow-right-to-bracket mx-1"></i>ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </nav>
</header>
